body {
  overflow-x: hidden;
  max-width: 1140px;
  margin: auto;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* tailwind preflight */
/* blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
} */

/* ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */
